asgiref==3.7.2
certifi==2023.7.22
cffi==1.15.1
distlib==0.3.7
Django==4.2.6
djangorestframework==3.14.0
docutils==0.20.1
filelock==3.12.4
GDAL==3.8.1
gpg==1.10.0
numpy==1.26.1
pipenv==2023.10.20
platformdirs==3.11.0
protobuf==4.24.4
pycparser==2.21
six==1.16.0
sqlparse==0.4.4
virtualenv==20.24.6
